<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="piotr.michalkiewicz.mealplannerclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.CustomizationFinishActivity"></activity>
        <activity android:name=".activities.CookingTimeCustomizationActivity" />
        <activity android:name=".activities.ServingsCustomizationActivity" />
        <activity android:name=".activities.MealsNumberCustomizationActivity" />
        <activity android:name=".activities.DislikedIngredientsCustomization" />
        <activity android:name=".activities.AllergyCustomizationActivity" />
        <activity android:name=".activities.DietCustomizationActivity" />
        <activity android:name=".activities.StartCustomizationActivity" />
        <activity android:name=".activities.RecipesActivity" />
        <activity
            android:name=".activities.RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>